.pCarousel {
    position: relative;
    padding: 10px;
    box-shadow: 0 0 22px #000;
}
.pCarousel * {
    padding: 0;
    margin: 0;
}
.pCarousel .mainWrapper {
    overflow: hidden;
}
.pCarousel .mainWrapper .carouselWrapper {
    overflow: hidden;
}
.pCarousel .mainWrapper .carouselWrapper .navigationBtn {
    height: 100%;
    color: #fff;
    width: 50px;
    position: absolute;
    top: 0;
    padding-top: 26%;
    cursor: pointer;
    margin-top: -25px;
    font-size: 51px;
}
.pCarousel .mainWrapper .carouselWrapper .navigationBtn.right {
    right: 0;
}
.pCarousel .mainWrapper .carouselWrapper ul {
    list-style: none;
    position: relative;
}
.pCarousel .mainWrapper .carouselWrapper ul li {
    height: 100%;
    float: left;
}
.pCarousel .mainWrapper .thumbsWrapper {
    padding-top: 10px;
    padding-bottom: 2px;
    overflow: auto;
    /*border: 1px solid #ffc;*/
}
.pCarousel .mainWrapper .thumbsWrapper ul {
    list-style: none;
    text-align: center;
    overflow-x: scroll;
    overflow-y: hidden;
    display: flex;
    height: 80px;
}
.pCarousel .mainWrapper .thumbsWrapper ul li {
    display: inline-block;
    width: 80px;
    cursor: pointer;
    margin-right: 5px;
    height: 80px;
}
.pCarousel .mainWrapper .thumbsWrapper ul li:hover{
    box-shadow: 0 0 12px #000;
}
.pCarousel .mainWrapper .thumbsWrapper ul li.active {
    border: 1px solid #000;
}
.pCarousel .mainWrapper .thumbsWrapper ul li img {
    width: 80px;
    height: 80px;
}
